@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* :root {

} */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

/* NAV-BAR */

.nav-bar {
  background-image: linear-gradient(#7e22ce, #581c87);
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.right-nav {
  margin-right: 50px;
}

.right-nav-content {
  color: #e5e5e5;
  opacity: 0.6;
  font-size: 14px;
  letter-spacing: 1px;
}

.left-nav {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.troll-img {
  width: 30px;
}

.nav-name {
  color: #e5e5e5;
  margin-left: 10px;
  font-size: 18px;
  letter-spacing: -1px;
}

/* MAIN-PART */

.meme-generator-box {
  margin: 50px 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-box {
  margin-bottom: 20px;
  margin-top: 10px;
}

.left-input {
  margin-right: 10px;
  padding: 10px 20px;
  font-family: inherit;
}

.right-input {
  padding: 10px 20px;
  font-family: inherit;
}

.btn-new-img {
  margin-bottom: 10px;
  padding: 10px 148.2px;
  background-image: linear-gradient(#581c87, #7e22ce);
  border: none;
  font-family: inherit;
  border-radius: 0.2rem;
  color: #fdf4ff;
  cursor: pointer;
}

.btn-new-img:hover {
  background-image: linear-gradient(#7e22ce, #9333ea);
}

/* .meme-img {
  width: 48%;
  height: 48%;
  margin-top: 20px;
  object-fit: contain;
} */

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(./Assets/Meme.svg);
  background-repeat: no-repeat;
  width: 47.75%;
  height: 270px;
  margin-top: 10px;
}

.top-text {
  margin-top: 15px;
}

.bottom-text {
  margin-bottom: 15px;
}

.text-style {
  text-transform: uppercase;
  font-size: 25px;
  font-family: "Impact", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 5px #000;
}
