@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

/* :root {

} */

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
}

/* NAV-BAR */

.nav-bar {
  background-image: linear-gradient(#7e22ce, #581c87);
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.right-nav {
  margin-right: 50px;
}

.right-nav-content {
  color: #e5e5e5;
  opacity: 0.6;
  font-size: 14px;
  letter-spacing: 1px;
}

.left-nav {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.troll-img {
  width: 30px;
}

.nav-name {
  color: #e5e5e5;
  margin-left: 10px;
  font-size: 18px;
  letter-spacing: -1px;
}
